<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Publication Details: </h1>
    {% if publication %}
        <h2>Publication Name: {{ publication.publicationName }}</h2>
        <table border="1">
            <tr>
                <th>Publisher</th>
                <th>Notes</th>
                <th>Type</th>
            </tr>
            <tr>
                <td><a href="{% url 'publisher' publication.publisher.id %}" >{{ publication.publisher.publisherName }}</a></td>
                <td>{{ publication.publicationNotes }}</td>
                <td>{{ publication.publicationType }}</td>          
            </tr>
        </table>

        <h3>Editions</h3>

        {% if editions %}
            <table>
                <tr>
                    <th>Edition Name</th>
                    <th>Publication Date</th>
                </tr>
                {% for edition in editions %}
                    <tr>
                        <td><a href="{% url 'edition' edition.id %}">{{edition.editionName}}</a></td>
                        <td>{{edition.publicationDate}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No editions registered for thiis publication id</p>
        {% endif %}


        <h3>Articles</h3>
            {% if articles %}
                <table>
                    <tr>
                        <th>Article Name</th>
                        <th>Keywords</th>
                        <th>Notes</th>
                        <th>Summary</th>
                        <th>Edition</th>
                        <th>Publication(s)</th>
                        <th>Author(s)</th>                    
                        <th>Tags</th>
                    </tr>
                    {% for article in articles %}
                        <tr>
                            <td><a href="{% url 'article' article.id %}">{{ article.articleName }}</a></td>
                            <td>{{ article.keywords }}</td>
                            <td>{{ article.notes }}</td>          
                            <td>{{ article.summary }}</td>       
                            <td>                             
                                {% for edition in article.edition.all %}
                                    <a href="{% url 'edition' edition.id %}">{{ edition.editionName }}</a><br />
                                {%endfor %}
                            </td>
                            <td>
                                {% for edition in article.edition.all %}
                                    <a href="{% url 'publication' edition.publication.id %}">{{ edition.publication.publicationName }}</a><br />
                                {%endfor %}
                            </td>
                            <td>
                                {% for author in article.author.all %}
                                    <a href="{% url 'author' author.id %}" > {{ author.authorName }}</a><br />
                                {% endfor %}
                            </td>
                            <td>
                                {% for tag in article.tags.all %}
                                    {{tag}}<br />
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
            <p>No articles registered for this publication</p>
            {% endif %}


        {% else %}
            <p>No publication registered with this id.</p>
        {% endif %}
        
    </table>
  </body>
</html>